.about-container {
  font-family: "Segoe UI", sans-serif;
  background-color: aliceblue;
  color: #222;
  line-height: 1.6;
}

.header {
  background: linear-gradient(to right, #ff9933, white, #138808);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 2px solid #ccc;
  flex-wrap: wrap;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-image {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 4px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.site-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000080;
}

.portal-tag {
  font-size: 0.95rem;
  color: #444;
  font-weight: 500;
}

.header-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.header-right a:hover,
.header-right .active-link {
  color: #ff9933;
  border-bottom: 2px solid #ff9933;
}

.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 24px;
}

.content h2 {
  font-size: 2rem;
  color:#4d60efff;
  margin-bottom: 10px;
  font-weight: 700;
}

.content h3 {
  color: #4d60efff;
  font-size: 1.4rem;
  margin-top: 30px;
}

.content p {
  margin-bottom: 1rem;
  text-align: justify;
}

.content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.content ul li {
  margin-bottom: 0.5rem;
}

.footer {
  background-color: #284059;
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 0.95rem;
}
